<div class="large-9 columns">
  <div class="row search">
    <div class="row collapse">
      <div class="small-12 large-12  columns ">
        <i class="fi-magnifying-glass"></i>
        <input type="text" class="search-field" placeholder="your search">
      </div>
    </div>
</div>
  <div class="row" >
    <article *ngFor="let p of products"class="columns large-3 product" >
      <img [src]="'assets/images/'+p.image" >
      <div class="panel">
        <h5>{{p.name}}</h5>
        <h6 class="subheader">Price:{{p.price}}$   <button *ngIf="loginStatus" class="button tiny" (click)="addProductToCart(p)" ><i class="fi-shopping-cart" ></i></button><button class="button tiny" (click)="setActiveProduct(p)" routerLink="/product-detail-free">Detail</button></h6>
      </div>
   </article>
  </div>
 </div>
