 <div class="row sign-up" >
    <div class="large-12 columns">
      <div class="signup-panel">
        <p class="welcome"> Signup form </p>
        <div>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <input #username type="text" placeholder="username">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-social-google-plus"></i></span>
            </div>
            <div class="small-10  columns">
              <input #email type="text" placeholder="email">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input #password type="text" placeholder="password">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input #repassword type="text" placeholder="repassword">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-male"></i></span>
            </div>
            <div class="small-10 columns ">
              <select #type>
                <option value="simple">Simple</option>
                <option value="premuim">Premuim</option>
              </select>
            </div>
          </div>
        </div>
        <a class="button" (click)="onSignup(username.value, email.value, password.value, repassword.value, type.value)">Signup! </a>
      </div>
    </div>
 </div>
