<div class="large-3 columns">
  <div id="place-holder" *ngIf="!loginStatus">
    <h2>PDC e-store</h2>
  </div>
	<div id="cd-cart" *ngIf="loginStatus">
		<h2>Cart</h2>
		<ul class="cd-cart-items">
		 	<li *ngFor="let p of cart.getProducts()">
        <span class="cd-qty"> {{p.name}}</span>
        <div class="cd-price">Price : {{p.price}}$</div>
				<a  class="cd-item-remove cd-img-replace" (click)="removeProduct(p)">Remove</a>
			</li>
		</ul> <!-- cd-cart-items -->
		<div class="cd-cart-total">
      <p>Total: <span>${{cart.calculateSome() }}$</span></p>
		</div> <!-- cd-cart-total -->
		<a  class="checkout-btn" (click)="checkOut()">Checkout</a>
	</div>
</div>
