<div class="large-4 columns">
  <div class="row file-list">
    <div class="small-6 columns">
      <ul>
        <li><i class="fi-torso"></i>&nbsp;&nbsp;Multimedia</li>
          <ul>
            <li>
              <ul>
                <li><i class="fi-dollar"></i>&nbsp;&nbsp;Music</li>
                <li><i class="fi-euro"></i>&nbsp;&nbsp;Video</li>
              </ul>
            </li>
          </ul>
        <hr class="folder">
        <li><i class="fi-torsos"></i>&nbsp;&nbsp;Couple</li>
          <ul>
            <li>
              <ul>
                <li><i class="fi-social-apple"></i>&nbsp;&nbsp;Docs</li>
                <li><i class="fi-social-apple"></i>&nbsp;&nbsp;Books</li>
              </ul>
            </li>
         </ul>
       </ul>
    </div>
  </div>
</div>
